<h2 style='text-align: center; color:white;'><strong>{{city}}</strong></h2>
<h1 class='btn btn-info'>country code : </h1><span> {{country_code}}</span><hr>
<h1  class='btn btn-info'>temp : </h1><span> {{temp}}</span><hr>
<h1 class='btn btn-info'>pressure :  </h1><span> {{pressure}}</span><hr>
<h1 class='btn btn-info'>humidity : </h1> <span> {{humidity}} </span><hr>
<h1 class='btn btn-info'>temp_min : </h1> <span> {{temp_min}} </span><hr>
<h1 class='btn btn-info'>speed : </h1> <span> {{speed}} </span><hr>
<h1 class='btn btn-info'>description : </h1> <span> {{description}}</span>
<img src='http://openweathermap.org/img/w/{{icon}}.png' alt='Cinque Terre' style='width:70px;'>